#header-nav-bar {
	margin:5px;
	border:0px;
	padding:5px;
	border:2px solid;
	border-radius:5px;
	border-color: #660099;
	background-color: #D699FF;
}
#footer-nav-bar {
	margin:10px;
	border:0px;
	padding:5px;
	border:2px solid;
	border-radius:5px;
	border-color: #660099;
	background-color: #D699FF;
}
.nav-button {
	margin:0px;
	padding:15px;
	padding-left: 25px;
	padding-right: 25px;
	border:2px solid;
	border-radius:5px;
	border-color: #660099;
	background-color: #AD33D6;
	vertical-align: middle;
}
.nav-button-link {
	color: #CCFFCC;
	text-decoration: none;
	vertical-align: middle;
}
#logo {
	vertical-align: middle;
}